<%= simple_form_for(@listing) do |f| %>
	<% if @listing.errors.any? %>
	<div id="error_explanation">
			<h2><%= pluralize(@listing.errors.count, "error") %> have prevented this listing from saving:</h2>
			<ul>
			<% @listing.errors.full_messages.each do|msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
	</div>
	<% end %>
  <div class="form-group">
  	<%= f.input :title %>
  </div>
  <div class="form-group">
  	<%= f.input :description, as: :text %>
  	<%= f.association :subtopic, label: 'Topic', as: :select, collection: @subtopics %>
		<%= f.input :address, input_html: { value: @user_zip_code}  %>
	</div>	
	<div class="checkboxes">
		<%= f.input :meeting_type, collection: ["In-person", "Virtual", "Both"], as: :radio_buttons%>
	</div>
	<div class="form-actions">
		<%= f.button :submit %>
	</div>
<% end %>
