<div class="page">
<%= form_tag '/subtopics', method: :get do %>
<center> 
	<%= search_field_tag :q, params[:q], placeholder: "Search for a topic" %>
	<%= submit_tag "Search" %> 
<% end %>
<div class="notice"><%= flash[:notice] %>
</div>
<% @topics.each do |topic| %>
	<div><h1><%= topic.name %></h1></div>
		<% topic.subtopics.each do |subtopic| %>
				<div><h4><%= link_to "#{subtopic.name}", subtopic_path(subtopic.id) %></li></h4><hr></div>
		<% end %> 
<% end %>
</div>