<%= form_tag '/subtopics', method: :get do %> 
	<%= search_field_tag :q, params[:q] %>
	<%= submit_tag "Search" %> 
<% end %>

<% @topics.each do |topic| %>
	<p><%= topic.name %></p>
		<% topic.subtopics.each do |subtopic| %>
			<ul>	
				<li><%= link_to "#{subtopic.name}", subtopic_path(subtopic.id) %></li>
			</ul>
		<% end %> 
<% end %>
