<div class="page">
	<h1><%= @user.name %></h1>
	<p><%= @user.about %></p>

	<h2>Recent Listings:</h2>

	<% if @user.listings.empty? %>
		<big>No listings posted yet.</big>
	<% else %>
		<%= render 'listings_box' %>
	<% end %>

	<% if current_user == @user %>
		<h2>Your notifications:</h2>
		<div class="span3">
			<table class="table table-hover">
					<% if @user.listings.empty? %>
							<big>Create a listing to start receiving notifications.</big>
						<% end %>

					<% @user.listings.each do |listing| %>
						<th><%= link_to "#{listing.title}", listing_path(listing.id) %></th>
					<% if listing.notifications.empty? %>
					<ul><i>No notifications</i></ul>
					<% else %>
						<% listing.notifications.each do |notification| %>
							<div><ul><i><%= link_to "#{notification.user.name} is interested.", user_path(notification.user.id) %></i></ul></div>
						<% end %>
					<% end %>
				<% end %>
			</table>
	<% end %>
</div>