<%= form_tag '', method: :get do %>
	<%= label_tag 'location', "Find listings near you:" %>
	<%= text_field_tag 'location', @user_zip_code, placeholder: 'Search by city or zip code'%>
	<%= select_tag :radius, options_for_select(@mile_radii) %>
	<%= submit_tag %>
<% end %>

<h2>Listings for <%= @subtopic.name %></h2>
<% @subtopic.listings.each do |listing|
 %>
	<p><%= link_to "#{listing.title}", listing_path(listing.id) %></p>
<% end %>