<!DOCTYPE html>
<html>
<head>
  <title>Studdy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<header class="row">
		<% if user_signed_in? %>
Welcome, <%= current_user.email %>! <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path %> | <%= link_to "Sign In", new_user_session_path %>
<% end %>
<% if user_signed_in? %> 
	| <%= link_to "Create a listing", new_listing_path %>
<% end %> 
		<nav class="navbar navbar-pills">
			<div class="navbar-header">
				<%= link_to "Studdy", root_path, class: 'navbar-brand' %>
			</div>
		</nav>
	</header>
	<%= yield %>
</div>
</body>
</html>
